{% extends "base.html" %}

{% block main %}
  <div class="container p-1">
    <div class="row">
      <div class="col-md-3">
        <a href="/" class="text-decoration-none">返回主页 / Back to main page
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
{% endblock main %}

{% block products %}
  <p class="h3 text-center p-4">全部产品清单 / List of all products</p>
  <table id="product-data" class="table dataTable hover order-column">
    <thead>
      <tr>
        <th style="width:30%!important">图像 / Image</th>
        <th style="width:24%!important">产品名 / Name</th>
        <th style="width:8%!important">价格 / Price</th>
        <th style="width:9%!important">货币 / Currency</th>
        <th style="width:22%!important">链接 / Link</th>
        <th style="width:8%!important">网站 / Site</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock products %}

{% block scripts %}
  <script>
    var table = $('#product-data').DataTable({
      fixedHeader: true,
      colReorder: true,
      ajax: '/api/all-products',
      buttons: {
        buttons: [
          {
            extend: 'excelHtml5',
            text: 'Export Excel',
            filename: 'export',
            exportOptions: {
              modifier: {
                page: 'all'
              }
            }
          }
        ]
      },
      columnDefs: [
        {
          target: "_all",
          className: "dt-head-center"
        }
      ],
      columns: [
        {data: 'image', orderable: false, searchable: false, "render": function (data) {
          return '<img src="/static/images/' + data + '" class="img-fluid"/>';
        }},
        {data: 'name'},
        {data: 'price'},
        {data: 'currency'},
        {data: 'url', "render": function (data) {
          return '<a href="' + data + '" target="blank">' + data + '</a>';
        }},
        {data: 'site'}
      ],
    });
  </script>
{% endblock %}