{% extends "base.html" %}

{% block main %}
<script>
    if ('{{ calculate_status }}' == 'calculating') {
      setTimeout(() => {
        location.reload();
      }, 20000);
    }</script>
  <div class="container p-1">
    <div class="row">
      <div class="col-md-5 p-1 m-1">
        <a href="{{ url_for('results') }}" class="text-decoration-none">转到结果页 / Go to results page
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
          </svg>
        </a>
      </div>
      <div class="w-100"></div>
      <div class="col-md-5 p-1 m-1">
        <a href="/" class="text-decoration-none">返回主页 / Back to main page
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="container p-3">
    <div class="row justify-content-evenly align-items-center">
      <div class="col-md-2 text-center">
          <img src="{{ url_for('get_original_image', filename=original_image) }}" id="origImg" alt="Original Image" class="img-fluid" data-bs-toggle="modal" data-bs-target="#imageModal">
          <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="imageModalLabel">原始图像 / Original Image</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img src="{{ url_for('get_original_image', filename=original_image) }}" alt="Original Image" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
      </div>
      {% if calculate_status == 'calculating' %}
        <div class="col-md-2 text-center">
          <label class="fw-bold">计算相似性。请稍候。/ Calculating similarity. Please wait.</label>
          <div class="spinner-border text-primary mt-5" style="width: 4rem; height: 4rem; border-width: 0.5em" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock main %}

{% block content %}
  {% if calculate_status == 'finished' %}
    <p class="h3 text-center p-4">类似产品清单 / List of similar products</p>
    <div class="table-responsive">
      <table id="product-data" class="table dataTable hover order-column dt-responsive w-auto">
        <thead>
          <tr>
            <th data-priority="0">图像 / Image</th>
            <th data-priority="4">产品名 / Name</th>
            <th data-priority="1">价格 / Price</th>
            <th data-priority="1">货币 / Currency</th>
            <th data-priority="3">比索 / PHP Price</th>
            <th data-priority="5">链接 / Link</th>
            <th data-priority="2">网站 / Site</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  {% endif %}
  {% if calculate_status not in ['calculating', 'finished'] %}
    <div class="d-flex align-items-center justify-content-center vh-100">
      <div class="text-center">
        <h1 class="display-1 fw-bold">400</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Something went wrong.</p>
        <p class="lead">请求出错，检查信息并重试。错误详细信息：</p>
        <p class="lead">Please check provided data and try again. Error details:</p>
        <p class="bg-warning font-monospace">{{ calculate_status }}</p>
        <a href="/" class="text-decoration-none">返回主页 / Back to main page
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
          </svg>
        </a>
      </div>
    </div>
  {% endif %}
{% endblock content %}

{% block scripts %}
  <script>
    if ('{{ calculate_status }}' == 'finished') {
      var table = $('#product-data').DataTable({
        fixedHeader: true,
        responsive: true,
        ajax: {
          url: '/api/similarity/{{ original_image }}/result'
        },
        dom: 'Blfrtip',
        buttons: [
          {
            extend: 'excelHtml5',
            text: 'Export Excel',
            filename: 'export',
            className: 'btn btn-primary',
            exportOptions: {
              modifier: {
                page: 'all'
              }
            }
          }
        ],
        columnDefs: [
          {
            target: '_all',
            className: 'dt-head-center'
          },
          {
            target: 1,
            className: "text-break"
          },
          {
            target: [1, 5],
            className: "desktop"
          },
          {
            target: 4,
            className: "not-mobile"
          }
        ],
        columns: [
          {data: 'image', orderable: false, searchable: false, 'render': function (data) {
            return '<img src="/static/images/' + data + '" class="img-fluid"/>';
          }},
          {data: 'name'},
          {data: 'price'},
          {data: 'currency'},
          {data: 'php_price'},
          {data: 'url', 'render': function (data) {
            return '<a href="' + data + '" class="text-break" target="_blank">' + data + '</a>';
          }},
          {data: 'site'}
        ],
        order: [[6, 'asc'], [4, 'asc']]
      });

      table.buttons().container().insertBefore('#product-data_filter');

      table.on('page.dt', function() {
        $('html, body').animate({
          scrollTop: $(".dataTables_wrapper").offset().top
        }, 'slow');
        $('thead tr th:first-child').focus().blur();
      });
    }
  </script>
{% endblock %}