{% extends "base.html" %}

{% block main %}
<script>
    if ('{{ calculate_status }}' == 'calculating') {
      setTimeout(() => {
        location.reload();
      }, 30000);
    }</script>
  <div class="container p-1">
    <div class="row">
      <div class="col-md-3">
        <a href="/" class="text-decoration-none">返回主页 / Back to main page
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="container p-3">
    <div class="row justify-content-evenly align-items-center">
      <div class="col-md-2 text-center">
          <img src="{{ url_for('get_original_image', filename=original_image) }}" id="origImg" alt="Original Image" class="img-fluid" data-bs-toggle="modal" data-bs-target="#imageModal">
          <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="imageModalLabel">原始图像 / Original Image</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img src="{{ url_for('get_original_image', filename=original_image) }}" alt="Original Image">
                </div>
              </div>
            </div>
          </div>
      </div>
      {% if calculate_status == 'calculating' %}
        <div class="col-md-2 text-center">
          <label class="fw-bold">计算相似性。请稍候。/ Calculating similarity. Please wait.</label>
          <div class="spinner-border text-primary mt-5" style="width: 4rem; height: 4rem; border-width: 0.5em" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock main %}

{% block products %}
  {% if calculate_status == 'finished' %}
    <p class="h3 text-center p-4">类似产品清单 / List of similar products</p>
    <table id="product-data" class="table dataTable hover order-column">
      <thead>
        <tr>
          <th style="width:30%!important">图像 / Image</th>
          <th style="width:24%!important">产品名 / Name</th>
          <th style="width:8%!important">价格 / Price</th>
          <th style="width:8%!important">货币 / Currency</th>
          <th style="width:22%!important">链接 / Link</th>
          <th style="width:8%!important">网站 / Site</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  {% endif %}
  {% if calculate_status == 'error' %}
    <div class="d-flex align-items-center justify-content-center vh-100">
      <div class="text-center">
        <h1 class="display-1 fw-bold">400</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Something went wrong.</p>
        <p class="lead">请求出错，检查信息并重试。</p>
        <p class="lead">Please check provided data and try again.</p>
        <a href="/" class="text-decoration-none">返回主页 / Back to main page
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
          </svg>
        </a>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script>
    if ('{{ calculate_status }}' == 'finished') {
      var table = $('#product-data').DataTable({
        fixedHeader: true,
        colReorder: true,
        ajax: {
          url: '/api/similarity/{{ original_image }}/result'
        },
        dom: 'Blfrtip',
        buttons: [
          {
            extend: 'excelHtml5',
            text: 'Export Excel',
            filename: 'export',
            className: 'btn btn-primary',
            exportOptions: {
              modifier: {
                page: 'all'
              }
            }
          }
        ],
        columnDefs: [
          {
            target: '_all',
            className: 'dt-head-center'
          }
        ],
        columns: [
          {data: 'image', orderable: false, searchable: false, 'render': function (data) {
            return '<img src="/static/images/' + data + '" class="img-fluid"/>';
          }},
          {data: 'name'},
          {data: 'price'},
          {data: 'currency'},
          {data: 'url', 'render': function (data) {
            return '<a href="' + data + '" target="blank">' + data + '</a>';
          }},
          {data: 'site'}
        ],
      });
      table.buttons().container().insertBefore('#product-data_filter');
    }
  </script>
{% endblock %}